<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        SMARTOPO
                    </a>
                </li>                                
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, pour plus d'information veuillez contacter MR 
            <a href="" target="_blank">Hicham AIT BIHI</a> , gérant de la société smartgis
        </div>
    </div>
</footer>
