<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title"><strong style="text-transform: uppercase;">Nouvelle phase</strong></h4>
                      <p class="card-category">Veuillez remplir tous les champs</p>
                  </div>
                  <div class="card-body">
                    <form (ngSubmit)="processForm()">
                      <div class="row">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Intitulé" name="intitule" [(ngModel)]="phase.intitule">
                              </mat-form-field>
                          </div>
                          <div class="col-md-5">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Durée estimée" name="duree_estimee" type="number" [(ngModel)]="phase.duree_estimee">
                              </mat-form-field>
                          </div>
                          <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Date de commancement" type="date" name="date_commancement" [(ngModel)]="phase.date_commancement">
                              </mat-form-field>
                          </div>                                
                      </div>                                                
                      <br>                                                
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right">Valider</button>
                      <div class="clearfix"></div>
                  </form>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
