<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"><strong style="text-transform: uppercase;">Nouveau materiel</strong></h4>
                        <p class="card-category">Veuillez remplir tous les champs</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="processForm()">
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nom" name="nom" [(ngModel)]="materiel.nom">
                                    </mat-form-field>
                                </div>                                
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="marque" name="marque" [(ngModel)]="materiel.marque">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Date d'achat" name="date_achat" [(ngModel)]="materiel.date_achat" type="date">
                                        </mat-form-field>
                                    </div>                                     
                            </div>   
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Quantité" name="quantite" [(ngModel)]="materiel.quantite" type="number">
                                  </mat-form-field>
                                </div>                              
                              </div>                         
                            <div class="row">
                              <div class="col-md-3">
                                  <input type="radio" name="etat_achat" checked> Neuf
                                </div> 
                                <div class="col-md-3">
                                  <input type="radio" name="etat_achat"> Occasion
                                </div>
                            </div>                            
                            <hr>
                            <div>                                                                                                                                  
                              <input type="file" name="image_neuf" (change)="onFileChange($event)">                                                                                                                                                  
                            </div>                            
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Valider</button>
                            <div class="clearfix"></div>
                        </form>
                        
                    </div>
                </div>
            </div>
            
        </div>
  
        
    </div>
  </div>
  