<div class="main-content">
  <div class="container-fluid">
      <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                            <p class="card-category">Total des éstimations</p>
                            <h3 class="card-title">{{totalRevenus}}
                              <small>DHs</small>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Pour tous les projets réalisés et en cours
                            </div>
                        </div>
                    </div>
                </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Total des avances</p>
                      <h3 class="card-title">{{totalRecettes}}
                          <small>DHs</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                            <i class="material-icons">check_box</i> Pour {{nbRecettes}} recettes en total
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Total des restes</p>
                      <h3 class="card-title">{{totalRevenus - totalRecettes}}
                        <small>DHs</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">priority_high</i> Somme des restes
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-users"></i>
                      </div>
                      <p class="card-category">Personnel</p>
                      <h3 class="card-title">{{nbEmployes}}</h3>
                  </div>
                  <div class="card-footer">                      
                      <div class="stats">
                            <a href="" >Détails des employés</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
            <div class="col-lg-6 col-md-3">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Le nombre des tâches réalisées par chaque employé</h4>
                            <p class="card-category">L'employé étoile: --</p>
                        </div>
                        <div class="card-body table-responsive">
                                <canvas id="nbTacheParEmploye">{{ chartTpE }}</canvas>
                        </div>
                    </div>
                </div>   
                <div class="col-lg-6 col-md-3">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title">Le bénéfice par projet</h4>  
                                <p class="card-category">Le projet étoile: --</p>                          
                            </div>
                            <div class="card-body table-responsive">
                                    <canvas id="beneficeParProjet">{{ chartBpP }}</canvas>
                            </div>
                        </div>
                    </div>                           
      </div>
      <div class="row">
            <div class="col-lg-12 col-md-3">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Le bénéfice par mois</h4>                            
                        </div>
                        <div class="card-body table-responsive">
                                <canvas id="beneficeParMois">{{ chartBpM }}</canvas>
                        </div>
                    </div>
                </div>                            
      </div>      
      <div class="row">          
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Les états des employés</h4>
                      <p class="card-category">Le plus nouveau employé: --</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>CIN</th>
                              <th>Nom et prenom</th>
                              <th>Date d'embauche</th>
                              <th>Fonction</th>
                              <th>Salaire</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let employe of employes">
                                  <td>{{employe.cin}}</td>
                                  <td>{{employe.nom}} {{employe.prenom}}</td>
                                  <td>{{employe.date_embauche}}</td>
                                  <td>{{employe.fonction}}</td>
                                  <td></td>
                              </tr>                                                            
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
